body {
	background-color: #131313;
	color: #fff;
	font-family: Arial, sans-serif;
}

header {
	padding: 1rem;
	background-color: #212121;
}

h1 {
	margin: 0;
	font-size: 2rem;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem 0;
}

label {
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}

input[type="number"] {
	padding: 0.5rem;
	border-radius: 5px;
	border: none;
	margin-right: 0.5rem;
	font-size: 1.2rem;
}

button {
	padding: 0.5rem;
	background-color: #de0160;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 1.2rem;
	cursor: pointer;
}

#card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 1rem;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem;
	padding: 1rem;
	background-color: #212121;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 197, 85, 0.361);
}

.card-number {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.card-expiry {
	font-size: 1.2rem;
}

.card-cvv {
	font-size: 1.2rem;
}
